<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ArchTouch.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A008D8931DA94C870017BF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A008D8AC1DA94C880017BF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A008D8B71DA94C880017BF86</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
